.banner {
  position: relative;
  min-height: 50px;
  background: #9c9;
  padding: 10px 10px 10px 550px;
  border-bottom: 2px solid;
  font-size: 30px;
  font-family:"Times New Roman";
  color: White;
  text-align: center;
  background-image: image-url("banner.jpg");
  background-size: cover;
}
.cuisines
{
  font-family:"EF Cuisines";
  font-size: 60px;
}